@model babe_algorithms.Pages.RecipeView

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var cats = string.Join(", ", Model.Categories);
    var ratingTarget = "rating-target-" + Model.Id;
    var imageTarget = "image-target-" + Model.Id;
    if (string.IsNullOrEmpty(cats))
    {
        cats = "Recipe";
    }
}
<div class="col-sm-4">
        <div
            data-recipe-id="@Model.Id"
            data-average-reviews="@Model.AverageReviews"
            data-review-count="@Model.ReviewCount"
            data-is-favorite="@Model.IsFavorite"
            class="card margin-bottom-20 recipe-card">
            @{
                var imageId = Model.ImageIds.FirstOrDefault().ToString();
                if (imageId == Guid.Empty.ToString())
                {
                    imageId = "null";
                }
                <div data-image-id="@imageId" id="@imageTarget"></div>
            }
            <div class="card-body">
                <p class="tag-style do-not-overflow-text margin-bottom-0">@cats</p>
                <a asp-page="/Recipes/Details" asp-route-id="@Model.Id">
                    <h5 class="margin-bottom-0 card-title do-not-overflow-text">
                        @Html.DisplayFor(modelModel => Model.Name)
                    </h5>
                </a>
                @if (Model.ReviewCount > 0)
                {
                    <div id="@ratingTarget"></div>
                }
                else
                {
                    <div class="height-32"></div>
                }
            </div>
        </div>
</div>
