@page
@model babe_algorithms.Pages.Admin.IngredientsViewModel

@{
    ViewData["Title"] = "IngredientsView";
    Layout = "_Layout";
}

<h1>Ingredients</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ingredient names</th>
      @* <th scope="col">Recipes Where Used</th> *@
      <th scope="col">NDB/GTIN/UPC Number</th>
      <th scope="col">Count RegEx</th>
      <th scope="col">Unit mass (kg)</th>
      <th scope="col">Save/Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var ingredient in Model.Ingredients) {
    <tr>
      <th scope="row">@ingredient.Id</th>
      <form method="POST">
      <th>
          <input
            type="text"
            name="ingredientNames"
            placeholder="Ingredient names (semi-colon separated)"
            value="@ingredient.Name">
        </th>
        <th>
          <input
            type="number"
            name="ndbNumber"
            placeholder="NDB Number"
            value="@ingredient.NutritionData?.NdbNumber">
          <input
            type="text"
            name="gtinUpc"
            placeholder="GTIN/UPC Number"
            value="@ingredient.BrandedNutritionData?.GtinUpc">
        </th>
        <th>
          <input type="text" name="countRegex" value="@ingredient.NutritionData?.CountRegex">
        </th>
        <th>
          <input
            type="number"
            name="expectedUnitMass"
            step="0.001"
            value="@ingredient.ExpectedUnitMass">
        </th>
        <th>
          <input type="hidden" name="ingredientId" value="@ingredient.Id">
          <button class="btn btn-outline-success width-100" type="submit" asp-page-handler="UpdateIngredientNdbNumber">Save</button>
        </th>
      </form>
    </tr>
    }
  </tbody>
</table>