@page
@model babe_algorithms.Pages.Admin.IngredientsViewModel

@{
    ViewData["Title"] = "IngredientsView";
    Layout = "_Layout";
}

<h1>Ingredients</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ingredient</th>
      @* <th scope="col">Recipes Where Used</th> *@
      <th scope="col">NDB Number</th>
      <th scope="col">GtinUpc</th>
      <th scope="col">Count RegEx</th>
      <th scope="col">Save/Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var ingredient in Model.Ingredients) {
    <tr>
      <th scope="row">@ingredient.Id</th>
      <th >@ingredient.Name</th>
      <form method="POST">
        <td>
          <input type="number" name="ndbNumber" value="@ingredient.NutritionData?.NdbNumber">
        </td>
        <td>
          <input type="text" name="gtinUpc" value="@ingredient.BrandedNutritionData?.GtinUpc">
        </td>
        <td>
          <input type="text" name="countRegex" value="@ingredient.NutritionData?.CountRegex">
        </td>
        <td>
          <input type="hidden" name="ingredientId" value="@ingredient.Id">
          <button class="btn btn-outline-success width-100" type="submit" asp-page-handler="UpdateIngredientNdbNumber">Save</button>
        </td>
      </form>
    </tr>
    }
  </tbody>
</table>