@page
@model babe_algorithms.Pages.ResetPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_PlainLayout";
    var title = string.IsNullOrEmpty(Model.Name) ? "Set a password" : $"{Model.Name}, reset your password";
}

<div class="container margin-top-625rem">
    <div class="row justify-content-md-center">
        <div class="col-lg max-width-34rem">

            @if (@Model.AlertType == babe_algorithms.Pages.AlertMessage.Sent)
            {
                @await Html.PartialAsync("_Alert", ("Reset email sent.", "success"));
            } 

            @if (@Model.AlertType == babe_algorithms.Pages.AlertMessage.Invalid)
            {
                @await Html.PartialAsync("_Alert", ("No user exists for this email.", "warning"));
            } 

            @if (@Model.AlertType == babe_algorithms.Pages.AlertMessage.NeedsValidation)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <a href="/SignUp">This email has not yet been verified</a>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            
            @if (@Model.AlertType == babe_algorithms.Pages.AlertMessage.PasswordChangedFailed)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Invalid password
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (@Model.AlertType == babe_algorithms.Pages.AlertMessage.PasswordChanged)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Password changed! <a asp-page="SignIn">Sign in</a>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            } 

            @if (!Model.HideEmail)
            {
                <div id="email" class="card" style="min-height:235px; margin-bottom: 5%; display: none;">
                    <div class="card-body" style="margin: 40px;">
                        <h5 class="card-title">Forgot your password?</h5>
                        <div class="card-text">
                            <p>
                                Please enter your email to reset your password.
                            </p>
                            <form class="form" method="POST">
                                <div class="form-group mx-auto">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input asp-for="Email" class="form-control bg-light" placeholder="your@email.com">
                                </div>
                                <div class="mx-auto">
                                    <button type="submit" class="pl-button btn btn-success btn-large btn-block mx-auto">Reset password</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            }

            <!-- Keep this in sync with Registration.cshtml -->
            <div id="password" class="card" style="min-height:235px; margin-bottom: 5%; display: none;">
                <div class="card-body" style="margin: 40px;">
                    <h5 class="card-title">@title</h5>
                    <div class="card-text">
                        <form id="passwordForm" class="form" method="POST">
                            <div class="form-group mx-auto">
                                <ul>
                                    <li>At least 10 characters</li>
                                    <li>At least 2 unique characters</li>
                                </ul>
                                <input asp-for="Password" type="password" class="form-control bg-light" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <p style="margin-top: 16px;">
                                    Confirm your password
                                </p>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <input asp-for="ConfirmPassword" type="password" class="form-control bg-light" placeholder="Confirm password">
                            </div>
                            <input type="hidden" asp-for="@Model.UserId" />
                            <input type="hidden" asp-for="@Model.Token" />
                            <input type="submit" class="btn btn-success btn-large btn-block mx-auto" asp-page-handler="Password" value="Submit">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/registration.js" asp-append-version="true"></script>
