@model babe_algorithms.ViewComponents.NavBarViewComponent
@{
    var isSignedIn = Model.SignInManager.IsSignedIn(User);
    var disabledClass = isSignedIn ? string.Empty : "disabled";
    var currentRequest = this.Url.ActionContext.HttpContext.Request;
    var redirectTo = currentRequest.Path;
    if (currentRequest.QueryString.HasValue)
    {
        redirectTo = redirectTo + System.Web.HttpUtility.UrlEncode(currentRequest.QueryString.Value);
    }
    var currentPath = new Dictionary<string, string>

        {
            { "redirectTo", redirectTo },
        };
}

<header>
    <div
        id="authState"
        data-signed-in="@isSignedIn"
        data-user-id="@Model.UserId"
        data-roles="@Model.RolesStr"
        class="display-none">
    </div>
    <nav class="navbar navbar-expand-sm navbar-light box-shadow mb-3">
        <div class="container-fluid" style="display: flex; justify-content: space-between; line-height: 30px;">
            <a id="my-navbar-brand" class="navbar-brand my-navbar-brand" asp-area="" asp-controller="Home">
                <img src="/CookTime-Logo.png" height="30" class="d-inline-block align-middle" alt="">
                <div class="d-inline-block align-middle">CookTime</div>
            </a>
            <button id="my-burger-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Recipes</a>
                    </li>
                    <li class="nav-item dropdown" id="categoriesDropDown">
                        <a
                            id="userButton"
                            class="nav-link dropdown-toggle"
                            id="dropdownMenuButton"
                            role="button"
                            href="#"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"> 
                                Categories
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            @foreach (var category in Category.DefaultCategories)
                            {
                                <a
                                    class="dropdown-item green-dropdown"
                                    id="customNavButton"
                                    href="/?search=@category">
                                    @category
                                </a>
                            }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @disabledClass" href="/Cart">Groceries List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog">Blog</a>
                    </li>
                    @if (isSignedIn) {
                        @if(Model.IsAdmin()) {
                            <li class="nav-item dropdown" id="categoriesDropDown">
                                <a
                                    id="userButton"
                                    class="nav-link dropdown-toggle"
                                    id="dropdownMenuButton"
                                    role="button"
                                    href="#"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"> 
                                        Admin
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item green-dropdown" href="/Admin/IngredientsView">All ingredients</a>
                                    <a class="dropdown-item green-dropdown" href="/Admin/IngredientNormalizer">Ingredient normalizer</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown" id="userDropdown">
                            <a
                                id="userButton"
                                class="nav-link dropdown-toggle"
                                id="dropdownMenuButton"
                                role="button"
                                href="#"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"> 
                                    @Model.UserName
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a
                                    class="dropdown-item green-dropdown"
                                    asp-page="/Recipes/Mine">
                                    My recipes
                                </a>
                                <a
                                    class="dropdown-item green-dropdown"
                                    asp-page="/Recipes/Favorites">
                                    Favorites
                                </a>
                                <div class="dropdown-divider"></div>
                                <a
                                    class="dropdown-item green-dropdown"
                                    id="customNavButton"
                                    href="/api/account/signout">
                                    Sign Out
                                </a>
                            </div>
                        </li>
                    }
                    else {
                        <li class="nav-item active margin-right-05rem">
                            <a
                                class="nav-link"
                                asp-page="/SignIn"
                                asp-all-route-data="currentPath"
                                id="customNavButton">
                                    Sign In
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid margin-bottom-30">
        <form action="/" class="">
            <input name="search" id="search-bar" class="form-control input-field-style me-2" type="search" placeholder="Search by recipe name or ingredients" aria-label="Search">
        </form>
    </div>
</header>